@import "modules/reset";
@import "modules/variables";
@import "modules/layout";

body, html {
  padding: 0;
  margin: 0;
  background-color: green;
}

#app {
  padding: 20px 20px;
  background: $white;
}

.popup-content {
  min-width: 333px;
  min-height: 70px;
  max-width: 350px;

  p.message {
    font-size: 13px;
  }
}

h1 {
  font-size: 14px;
  text-transform: uppercase;
  color: $text-secondary;
  text-align: center;
  margin: 0 auto 0.5em auto;
  padding: 0;
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

#display-container {
  padding: 10px 0;
}

footer {
  color: $text-secondary;
  border-top: 1px solid $gray;
  font-size: 0.8em;
  padding-top: 5px;
  a {
    outline: none;
    color: lighten($text-secondary, 10%);
    &:hover {
      color: $text-secondary;
    }
  }
}
